.card-forecast {
  border-top-style: solid;
  border-top-width: 0.5px;
  border-top-color: #646b93;
  border-right-style: solid;
  border-right-width: 0.5px;
  border-right-color: #646b93;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: #646b93;
  border-left-style: solid;
  border-left-width: 0.5px;
  border-left-color: #646b93;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
  cursor: auto;
}

.forecast-day {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  justify-content: center;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: #646b93;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #000315;
}

.image-wrapper {
  position: relative;
  display: flex;
  min-height: 90px;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-corner at 50% -190%, #455295 20%, hsla(234, 90.91%, 4.31%, 0.00) 90%);
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 1px);
}

.image-large {
  z-index: 1;
  width: 100px;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 40px);
}

.forecast-info {
  display: flex;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  text-align: center;
}

.temp {
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 1.00), hsla(0, 0.00%, 100.00%, 0.40));
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 300px);
  transition-property: transform, color;
  transition-duration: 300ms, 300ms;
  transition-timing-function: ease, ease;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.temp:hover {
  transform-style: preserve-3d;
  transform: scale3d(1.06, 1.06, 1.01);
}

.flex {
  display: flex;
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: hsla(231.06382978723403, 19.03%, 48.43%, 1.00);
  text-decoration: none;
}